{% extends 'adminapp/dashboard.html' %}
{% load static %}
{% block admin_dashboard %}



<style>
    .box{
    
        background-color: aliceblue;
        width: 900px;
        height: 400px;
        margin-left: 150px;
        margin-top: 170px;
    }
    table{
        margin-top: 50px;
    }
</style>


<div class="box">
    <h1 style="margin-left: 200px;">Active/inactive Students</h1>
    <table class="table">
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">Name</th>
        <th scope="col">username</th>
        <th scope="col">Active/Inactive</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>ss</td>
        <td>sssssssss</td>
        <td><button>active</button></td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>ss</td>
        <td>qqqqqq</td>
        <td><button>inactive</button></td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td colspan="2"></td>
        <td></td>
      </tr>
    </tbody>
  </table>
</div>

{% endblock %}